---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import readingTime from "reading-time";

export const getStaticPaths = (async () => {
	const posts = await getCollection("blog");
	return posts.flatMap((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post,
			},
		};
	});
}) satisfies GetStaticPaths;

interface Props {
	post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { Content } = await post.render();
const time = readingTime(post.body);
---

<MainLayout>
	<div class="max-w-screen-md mx-auto mb-12 mt-12 flex flex-col px-4">
		<a
			href="/blog"
			class="mr-auto flex gap-2 justify-center items-center align-middle link-blue"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-4 h-4"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
			</svg>
			<span>Back</span>
		</a>
		<h1
			class="mt-8 font-bold text-4xl"
			transition:name={`blog-post-${post.slug}-title`}
			transition:animate="none"
		>
			{post.data.title}
		</h1>
		<span class="mt-1" transition:animate="none"
			>Published {post.data.date}</span
		>
		<span
			class="text-blue-400 dark:text-blue-200 font-bold"
			transition:animate="none">{time.text}</span
		>

		<div class="prose dark:prose-invert mt-4">
			<Content />
		</div>
	</div>
</MainLayout>
