---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 Not Found | Isaac McFadyen">
	<div class="max-w-screen-sm mx-auto my-24 flex flex-col px-4">
		<h1
			class="text-4xl font-bold"
			transition:name="site-title"
			transition:animate="none"
		>
			404 Not Found
		</h1>
		<h2 class="mt-4 text-lg">
			There's nothing here. <a href="/" class="link-blue">Return home?</a>
		</h2>
	</div>
</MainLayout>
