---
import ContactForm from "../components/ContactForm.svelte";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	title="Contact | Isaac McFadyen"
	description="Questions about any of my blog posts or just want to say hi? Reach out with the form below."
>
	<div class="max-w-screen-lg mx-auto my-12 flex flex-col px-4">
		<h1 class="text-4xl font-bold text-center mb-4">Contact</h1>
		<p class="mb-6 text-lg text-center">
			Questions about any of my blog posts or just want to say hi? Reach out
			with the form below.
		</p>

		<ContactForm client:load />
	</div>
</MainLayout>
