<header class="w-screen flex justify-start items-center px-4 py-3">
	<a
		class="text-xl font-bold mr-8 block sm:hidden"
		href="/"
		transition:name="site-title"
		transition:animate="initial"
	>
		IM
	</a>
	<a
		class="text-xl font-bold mr-8 hidden sm:block"
		href="/"
		transition:name="site-title"
		transition:animate="initial"
	>
		Isaac McFadyen
	</a>

	<a href="/blog" class="mx-2 link-blue" rel="prefetch-intent">Blog</a>
	<a href="/projects" class="mx-2 link-blue" rel="prefetch-intent">Projects</a>
	<a href="/as213339" class="mx-2 link-blue" rel="prefetch-intent">AS213339</a>
	<a href="/contact" class="mx-2 link-blue" rel="prefetch-intent">Contact</a>
</header>
